.THIS {
    min-width: 430px;
    max-width: 100%;
}

.THIS #campo2-tabela {
    min-height: 100px;
}
/* .THIS canvas {
    border: 1px dotted black;
} */

/* .THIS .chart-container {
    position: relative;
    margin: auto;
    height: 80vh;
    width: 80vw;
} */
